<!-- <div *ngIf="friends[0]!=null"class="chat-component" >
<table class="table table-bordered">
  <th width="30%">
    <div >
      <div>
        <h3 >Friends List</h3>
      </div>
      <div >
        <div class="friend-list" *ngFor="let frnd of friends " >
          <a (click)="showMessageHandler(frnd.channelId,frnd.emailId)" ><span>{{frnd.name}}</span></a>
         
            <span
            id="notifications"
            style="
            color: white;
            background-color: red;
            padding-left: 15px;
            padding-right: 15px;">
           </span> -->
        
          <!-- <a  href="http://localhost:4200/home/chat/{{frnd.channelId}}/{{frnd.emailId}}"><span>{{frnd.name}}</span></a> -->
        <!-- </div>
      </div>
    </div>
  </th>
  <th>
<div ng-show="showChat" ng-init="messages = []">

  <div *ngIf="otherUser!=null" >
    {{otherUser.name}}</div>

  <div class="" id="chat-area">
   
    <div *ngFor="let msg of messages  ">
      <div  *ngIf="msg.authorUserId === otherUser.emailId; else thisUserMsg">
        <div class="d-flex justify-content-start mb-4">
        <div class="msg_cotainer">
          {{ msg.contents }} -->
             <!-- <span class="msg_time">
       {{whenWasItPublished(msg.timeSent)}}
      </span> -->
        <!-- </div>
     
     
     </div>
    </div>
    <ng-template #thisUserMsg>
    
      <div class="d-flex justify-content-end mb-4">
        <div class="msg_cotainer_send">
          {{ msg.contents }} -->
          <!-- <span class="msg_time_send">{{
            whenWasItPublished(msg.timeSent)
          }}</span> -->
        <!-- </div>
       
      </div>
    </ng-template>
  </div>
  
</div> 

  <div class="input-group mb-3">
  <input type="Text" class="form-control type_msg" [(ngModel)]="msg"  id="name">
  <div class="input-group-append">
  <button class= "btn"(click)="sendMessage()" style=" background-color:rgb(15, 15, 201);" >
     send
 </button>
 </div>
  </div>
</div>

</table>
</div>
<div *ngIf="friends[0]==null">
 No chat Available
</div> -->

<div class="fixed-container">

  <mat-accordion >  
    <div>
    
      <button class= "mat-button" (click)="handleCloseChatPanel()">X</button>
   
   
  
    <mat-expansion-panel hideToggle [expanded]="isExpanded "  >
      
      <mat-expansion-panel-header >
        <mat-panel-title >
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
             
            <div fxLayout="row" fxLayoutAlign="space-between">
             
             <p>Chat</p>
               
                
           
            </div>
         
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div id="chatbox-area">
        <div class="chat-content">   
          <div class="content">
        <app-chatpanel
          (selectedUsrEvt)="handleSelectedUser($event)"
          (messagesEvt)="handleMessages($event)"
          [sentMessage]="sentMessage"   >
        </app-chatpanel>
     
        <app-chatbox
        *ngIf="!isCloseChatBox"
          [selectedUser]="selectedUser"
          [messages]="messages"
          (isCloseChatBoxEvt)="handleCloseChatBox($event)"
          (sentMessageEvt)="handleSentMessage($event)">
        </app-chatbox>
      </div>
      </div>
    </div> 
      </ng-template>
  </mat-expansion-panel>
</div>
</mat-accordion>

</div> 