<div class="row"  >
   
    <nav  class="navbar navbar-expand-md  navbar-dark nav-fill w-100 order-1 order-md-0" style="background-color: darkblue;">
        <div class="w-100 order-1 order-md-0">
            <a class="navbar-brand  " href="#"> Eduxy</a>
           
        </div>
        
        <div class="collapse navbar-collapse " id="collapsibleNavbar" >
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a routerLink="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="register"  class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a routerLink="service" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a routerLink="about"  class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink=""  class="nav-link">Help</a>
                </li>
                
            </ul>
        </div>
    </nav>
</div>



<div>
  
    <router-outlet></router-outlet>
  
</div>


<footer class="footer">
    <div class="copy">&copy; 2022 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>