
<div class="fixed-container">
    <div class="chat-panel-wrapper chatpanel-container">
     
      <mat-drawer-container class="chatpannel" autosize>
        
       <!-- <mat-drawer class="chat-sidenav" #drawer opened = "false" mode="side" position="end"> -->
        
          <div class="chat-sidenav">
            <!-- <div class ="header">
          <mat-card >
            <ngx-avatar
              class="myprofile"
              name={{currentUser.name}}
              size="50"
              bgColor={{setColor(currentUser.name)}}></ngx-avatar>
            <h2 style="text-align: center">{{currentUser.name | uppercase}}</h2>
          </mat-card>
        </div> -->
          <div class=" tile">
          <mat-card>
          
            <mat-list>
              
              <mat-list-item *ngFor="let user of onlUsers"  (click)="openChatBox(user)">
                <!-- <div fxLayout fxLayoutAlign="space-between" style="width:100%">-->
                  <!-- <div fxLayout>  -->
                  
                    <ngx-avatar
                      name={{user.name}}
                      [size]="35"
                     
                      bgColor={{setColor(user.name)}}>
                    </ngx-avatar>
             
                    <div fxLayout="column" class="ml-2">
                      <p  class="m-3"> {{user.name}}</p>
                     
                    </div>
                 
                  <h5 *ngIf="user.status=='ONLINE'">
                    <span class="status green"></span>
                   
                  </h5>
                  <h5 *ngIf="user.status=='OFFLINE'">
                    <span class="status orange"></span>
                    
                  </h5>
                 <div class="badge">
                  <p  *ngIf="user.noOfNewMessages > 0">{{user.noOfNewMessages}}</p>
                 </div>
               
  
              </mat-list-item>
             
            </mat-list>
          
          </mat-card>
        </div> 
        </div>
        <!-- </mat-drawer> -->
  
      </mat-drawer-container>
  
    </div>
  </div>

