.fixed-container{
    position: absolute;
    top:0;
    left:0;
    
    background-color: transparent;
    width:100%;
    height:100%;
  
  }
  .chat-panel-wrapper{
    height:50vh;
    width:100%;
    position: fixed;
    margin-top:25px;
    right:35px;
    border-radius: 5px;
    z-index: 50;
  }
  .btn-chat-toggle{
    width:fit-content;
    margin-left:auto
  }
  
  
  .chatpanel-container{
    display:flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    width:300px;
    margin-right: 5px;
    margin-top: 40px;
    
  }
  
  .chat-sidenav{
    
    border-radius:5px;
    width: 100%;
    background-color:white;
    margin-top: 0;
    padding-top: 0%;
    
  }
  
  :host ::ng-deep .mat-card{
    box-shadow:none !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .myprofile /deep/{
    margin: auto;
  }
  
  .status{
    position: relative;
    width:8px;
    height:8px;
    border-radius:50%;
    display:block;
    margin-right:0;
    opacity: 0.7;
  

  }
  .green{
    background-color:#58b666;
  }
  .orange{
    background-color:orange;
  }
  
  :host ::ng-deep .mat-list-item:hover{
    background-color:lightgray;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    height: 2px;
    background: transparent; /* make scrollbar transparent */
  }
  
  :host ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
  }
  
  :host ::ng-deep .mat-drawer-container{
    z-index:-10;
  }
  @media only screen and (max-width: 1024px) {
    .chat-panel-wrapper{
      width: 35%;
      height: 100%
      
    }
  }
  
  @media only screen and (max-width: 768px) {
    .chat-panel-wrapper{
      width: 40%;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .chat-panel-wrapper{
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 415px) {
    .chat-panel-wrapper{
      width: 70%;
      height: 40vh
    }
  }
  @media only screen and (max-width: 320px) {
    .chat-panel-wrapper{
      width: 70%;
    }
  }

  .tile{
    position: relative;
    background-color:white;
    width:300px;
    margin-top:0;
   padding-top: 0%;
   margin-left: 0%;
  }

  .chatpanel{
    height:auto;
    background-color: #58b666;
   
  }
  .header{
    background-color: aquamarine;
    height: 100px;
    
  }