
<div class="page-top-offset"></div>
<div class="row"  >
    <div class="container-fluid" *ngIf="flag && status" >
        <div class="col-md-6 offset-md-3">
            <div class="form-bg-light">

                <h3 class="title">Add detail</h3>
              
                <form [formGroup]="teacherDetailForm" (ngSubmit)="addTeacherDetail()"  >
                   <div class="form-group">
                        <label for="subjects">Subject to Teach</label>
                        <div class="dropdown">
                            <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="subjects" style="width:50%"  id="subjects" placeholder="Mathmatics" readonly >
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: rgb(53, 43, 187);" data-bs-toggle="dropdown" aria-expanded="false">
                                    Select
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                
                                    <li><input type="checkbox" value="Mathmatics" class="chkvalue">Mathmatics</li>
                                    <input type="checkbox" value="Physics" class="chkvalue" >Physics<br>
                                    <input type="checkbox" value="Chemistry" class="chkvalue">Chemistry<br>
                                    <input type="checkbox" value="Biology" class="chkvalue">Biology<br>
                                    <input type="checkbox" value="Science" class="chkvalue" >Science<br>
                                    <input type="checkbox" value="English" class="chkvalue">English<br>
                                    <input type="checkbox" value="Hindi" class="chkvalue">Hindi<br>
                                    <input type="checkbox" value="History" class="chkvalue" >History<br>
                                    <input type="checkbox" value="Civics" class="chkvalue">Civics<br>
                                    <input type="checkbox" value="Geography" class="chkvalue">Geography<br>
                                    <input type="checkbox" value="Economics" class="chkvalue" >Economics<br>
                                    <input type="checkbox" value="Accounting" class="chkvalue">Accounting<br>
                                    <input type="checkbox" value="Finance" class="chkvalue">Finance<br>
                                    <input type="checkbox" value="Computer" class="chkvalue" >Computer<br>
                                    <input type="checkbox" value="Music" class="chkvalue">Music<br>
                                    <input type="checkbox" value="Dance" class="chkvalue">Dance<br>
                                </ul>
                            </div>
                            </div>
                            
                           
                          
                          </div>
                          <div *ngIf="teacherDetailForm.controls.subjects.invalid && teacherDetailForm.controls.subjects.touched">
                      <div  class="field-error-message" *ngIf="teacherDetailForm.controls.subjects.hasError('required')">
                                Please select the subjects
                      </div>
                       </div>     
                </div>


                <!-- <div class="form-group">
                        <label for="degreePhoto">Degree</label>
                        <input type="file" class="form-control" formControlName="degreePhoto" placeholder="degreePhoto" id="degreePhoto" (change)="selectDegree($event)">

                        <div *ngIf="teacherDetailForm.controls.degreePhoto.invalid && teacherDetailForm.controls.degreePhoto.touched">
                        <div  class="field-error-message" *ngIf="teacherDetailForm.controls.degreePhoto.hasError('required')">
                         Mandatory!
                        </div>
                        </div>
                </div> -->

                <div class="form-group">
                  <label for="higherQualification">Higher Qualification :</label>
                  <input type="text" class="form-control" formControlName="higherQualification" placeholder="higherQualification" id="higherQualification" >

                  <div *ngIf="teacherDetailForm.controls.higherQualification.invalid && teacherDetailForm.controls.higherQualification.touched">
                  <div  class="field-error-message" *ngIf="teacherDetailForm.controls.higherQualification.hasError('required')">
                   Mandatory!
                  </div>
                  </div>
          </div>
           

          <div class="form-group">
            <label for="idProof">Aadhar :</label>
          <input type="text" class="form-control" formControlName="idProof" placeholder="012345678912" id="idProof">

          <div *ngIf="teacherDetailForm.controls.idProof.invalid && teacherDetailForm.controls.idProof.touched">
            <div  class="field-error-message" *ngIf="teacherDetailForm.controls.idProof.hasError('required')">
             Mandatory!
            </div>
            </div>
    </div>

    <!-- <div class="form-group">
      <label for="idPhoto">Aadhar :</label>
      <input type="file" class="form-control" formControlName="idPhoto" placeholder="idPhoto" id="idPhoto" (change)="selectId($event)">

      <div *ngIf="teacherDetailForm.controls.idPhoto.invalid && teacherDetailForm.controls.idPhoto.touched">
      <div  class="field-error-message" *ngIf="teacherDetailForm.controls.idPhoto.hasError('required')">
       Mandatory!
      </div>
      </div>
</div> -->
            <div class="form-group">
                  <label for="feesCharged">Fees Charged :</label>
                  <input type="text" class="form-control" formControlName="feesCharged" placeholder="feesPerStudent" id="feesPerStudent">

                  <div *ngIf="teacherDetailForm.controls.feesCharged.invalid && teacherDetailForm.controls.feesCharged.touched">
                  <div  class="field-error-message" *ngIf="teacherDetailForm.controls.feesCharged.hasError('required')">
                   Mandatory!
                  </div>
                  </div>
             </div>


                <div class="form-group">
                        <label for="name">Description</label>
                        <textarea style="height: 150px;" class="form-control" formControlName="description" placeholder="Describe yourself" id="description"> </textarea>  
                        <div *ngIf="teacherDetailForm.controls.description.invalid && teacherDetailForm.controls.description.touched">  
                        <div  class="field-error-message" *ngIf="teacherDetailForm.controls.description.hasError('required')">
                         Mandatory!
                        </div>
                        </div>
                </div>
                   <br>
                <div class="row">
                    <button class="col-md-4 offset-md-0 btn btn-primary" style="width:94%; margin-left:14px; background-color:rgb(15, 15, 201);" >
                            Submit
                    </button>
                </div>
                </form>

                <h5 *ngIf="successMessage!='null'"class="success-message">{{successMessage}}</h5>
                <h5 *ngIf="errorMessage!='null'" class="error-message">{{errorMessage}}</h5>
                <br/>
             </div>
        </div>
    </div> 

    <div class="container-fluid" *ngIf="!status || !flag" >
        <div class="form-bg-light">  
                <div class="row"> 
                    <form [formGroup]="ID" (ngSubmit)="addId()"  >
                        <div class="form-group">
                             <label for="idPhoto">Aadhar :</label>
                             <div class="input-group mb-3">
                             <input type="file" class="form-control" formControlName="idPhoto" placeholder="idPhoto" id="idPhoto" (change)="selectId($event)" >
                             <div class="input-group-append">
                             <button class=" btn btn-primary" style="background-color:rgb(15, 15, 201);" >
                                Upload
                            </button>
                            </div>
                            </div>
                             <div *ngIf="ID.controls.idPhoto.invalid && ID.controls.idPhoto.touched">
                             <div  class="field-error-message" *ngIf="ID.controls.idPhoto.hasError('required')">
                              Mandatory!
                             </div>
                             </div>
                       </div>
                       </form>
              </div>
    
                    <div class="row"> 
                        <form [formGroup]="degree" (ngSubmit)="addDegree()"  >
                            <div class="form-group">
                                 <label for="degreePhoto">Degree:</label>
                                 <div class="input-group mb-3">
                                 <input type="file" class="form-control" formControlName="degreePhoto" placeholder="degreePhoto" id="degreePhoto" (change)="selectDegree($event)">
                                 <div class="input-group-append">
                                 <button class="btn btn-primary" style=" background-color:rgb(15, 15, 201);" >
                                    Upload
                                </button>
                                </div>
                                 </div>
                                 <div *ngIf="degree.controls.degreePhoto.invalid && degree.controls.degreePhoto.touched">
                                 <div  class="field-error-message" *ngIf="degree.controls.degreePhoto.hasError('required')">
                                  Mandatory!
                                 </div>
                                 </div>
                           </div>
            
                           <div class="row">
                          
                        </div>
                           </form>
              </div>
            
            </div> 
         
           
          </div>
          




 </div>  
  