
<div class="row"  >
<nav class="navbar navbar-expand-md  navbar-dark nav-fill w-100 order-1 order-md-0" style="background-color: darkblue;">
    <div class="w-100 order-1 order-md-0">
        <a class="navbar-brand" routerLink="/home">Eduxy</a>
    </div>
    <!-- <ng-template #search> -->
     <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="margin-right: 350px;">
        <input placeholder="Enter something" class="form-control" [(ngModel)]="searchString" >
        <button class="btn btn-info"  (click)="search()">Search</button>
    </div>
    <!-- </ng-template> -->
        <!-- <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{loggedInUser.name}}
            </a> -->
          
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item nav-link" routerLink="detail"  routerLinkActive="active" >My detail</a></li>
              <li><a class="dropdown-item nav-link"  routerLinkActive="active"  (click)="logout()" >logout</a></li>
              <li><a class="dropdown-item nav-link" routerLink="chat"  routerLinkActive="active" >Message</a></li>
            </ul>
          </div> -->
     
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
                {{loggedInUser.name}}
          </button>
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
              <li><a ngbDropdownItem href="http://localhost:4200/home/view">My detail</a></li>
              <li><a ngbDropdownItem href="http://localhost:4200/home/chat"> Message </a></li>
              <li><a ngbDropdownItem (click)="logout()"> logout</a></li>
            </ul>
          </div>
</nav>

</div>


    <div class="row">
        <div class="col-md-8 offset-md-2">
            
     </div> 
       <div >
        
        <div  *ngIf="flag">  
            <table id="myTable">  
                <tr class="header">  
                    <th>Name</th>  
                    <th>image</th>
                    <th>Email</th>  
                    <th>Qualification</th> 
                    <th>About</th> 
                    <th> </th>
                </tr>  
                <ng-container *ngFor="let item of data">   
                    <tr class="header">  
                        <td>  {{item.name}}</td>  
                        <td> 
                        <div *ngIf="item.displayImg==null">
                        <img class="profile_img" src="./assets/download.png"  alt="teacher dp"><br>
                        </div>
                        <div *ngIf="item.displayImg!=null">
                            <img class="profile_img" src="data:image/jpeg;base64,{{item.displayImg}}" alt="teacher dp">
                          </div>

                        </td>   
                        <td>{{item.subjects}}</td>  
                        <td>{{item.higherQualification}}</td>
                        <td>{{item.description}}</td>
                        <td><button (click)="chat(item)" class="btn btn-info">message</button></td>  
                    </tr>  
                </ng-container>  
            </table>  
            
  </div>    
      <div class="wrapper" *ngIf="!flag">
         
                <router-outlet></router-outlet>
        </div>
    </div>

   
