#myTable {
 
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
.nav-link {
    color: white !important;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in;
    margin: auto 15px;
  }
  .nav-link:hover {
    border-bottom: 2px solid white;
  }
  
  .navbar {
    background: #000000bf;
    color: white;
  }
  .navbar .navbar-brand {
    color: white;
    font-weight: bold;
  }
  .navbar .profile-pic {
    width: 40px;
    border-radius: 50%;
    margin-left: 85px;
  }
  .navbar a {
    color: black;
  }
  .navbar a:hover {
    color: black;
    text-decoration: none;
  }
  
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    margin: 7px;
  }
  
  .background {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    top: 0px;
    height: 60px;
    z-index: 1;
    filter: blur(1);
  }

 .profile_img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
 }


 .fixed-container{
  width:100%;
  height:100%;
  background-color: transparent;
  position: absolute;
  top:0;
  right:0;
}
 .dropdown{
  width:8%;
  height:100%;
  margin-top: 12px;
  background-color: transparent;
  position: absolute;
  top:0;
  right:0;

}
:host ::ng-deep .mat-accordion {
  bottom: 0;
  position:absolute;
  right: 30px;
  z-index:200;

}

:host ::ng-deep .mat-expansion-panel-header{
  background-color: #3F51B5 !important;
  height: fit-content;
  padding-top:4px;
  padding-bottom: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
}

:host ::ng-deep .mat-expansion-panel-body{
  padding-right:10px;
}
.accordion-wrapper{
  display:flex;
  position: absolute;
  bottom: 1px;
}
#chatbox-area{
  width: 250px;
  height: 300px;
}

.chat-content{
  overflow: auto;
  height: 300px;
  margin-top:15px;
}

.chat-thumb{
  float: left;
  width: 20%;
}

.chat-messages{
  float: left;
  width: 80%;
  margin-bottom: 20px;
}

.status{
  width:8px;
  height:8px;
  border-radius:50%;
  display:inline-block;
  margin-right:7px;
}
.green{
  background-color:#58b666;
}
.orange{
  background-color:#ff725d;
}

.chat-message-group .chat-thumb{
  float: left;
  width: 20%;
}
.chat-message-group .chat-messages{
  float: left;
  width: 80%;
  margin-bottom: 20px;
}
.chat-message-group .message{
  padding: 10px;
  background: #ecf1f8;
  font-size: 13px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-right:16px;
  text-align: left;
  width:fit-content;
}
.chat-messages .from{
  width: 100%;
  font-size: 11px;
  padding-right:20px;
  text-align:left;
}

.writer-user .chat-messages{
  float: right;
  width: 100%;
}
.writer-user .chat-messages .message{
  float: right;
  background: #683db8;
  color: #FFF;
}
.writer-user .chat-messages .from{
  float: left;
  display: block;
  width: 100%;
  text-align: right;
}
.chatBox-textbox{
  width: 100%;
}

textarea{
  width: 85%;
  border-color: lightgray;
  border-radius: 5px
}
textarea:focus{
  outline: none;
}

.emoji{
  padding: 8px 0 0 8px
}

.emoji:hover{
  cursor: pointer
}
.emoji-send-wrapper{
  display: flex;
}

:host ::ng-deep .emoji-mart-preview{
  display:none;
}

:host ::ng-deep .emoji-mart{
  position: absolute;
  bottom:30px;
  right:0
}

:host ::ng-deep .emoji-mart .emoji-mart-dark{
  width: 280px !important;
}

.list{
  position:relative ;
  color: black;
  background-color:white;
  width: 100%;
  padding: 5px;
}


.link{
  border-radius: 0 15px 15px 0 !important;
  border: 2px !important;
  width:100%;
  height: 30px;
  background-color: white; 
  font-style: bold;
  
}
